
<div class="table-responsive">
    <table id="manageMyUsers"
           class="display table dataTable table-striped layout-primary table-bordered document-center-table">
        <thead>
            <tr>
                <th></th>
                <th>Client</th>
                <th>Name</th>
                <th>Manager</th>
                <th>Level</th>
                <th>Access</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            </tbody>
    </table>
</div>
