<div class="table-responsive">
    <table id="searchresult"
           class="display table dataTable table-striped layout-primary table-bordered document-center-table">
        <thead>
            <tr>
                <th></th>
                <th>Company</th>
                <th>State</th>
                <th>Document Name</th>
                <th>Type</th>
                <th>Project</th>
                <th>Practice Area/Category</th>
                <th>Form Type</th>
                <th>WFJ File #</th>
                <th>File Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#editdocument">Edit</a>
                </td>
                <td></td>

                <td></td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Retirement Plan Enrollment Form</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>D3012_testdoc.doc</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#editdocument">Edit</a>
                </td>
                <td></td>
                <td>Alaska</td>
                <td>test-100</td>
                <td>Letter</td>
                <td>Private</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#editdocument">Edit</a>
                </td>
                <td>BriteLite Promotions LLC</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#editdocument">Edit</a>
                </td>
                <td>BriteLite Promotions LLC</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#editdocument">Edit</a>
                </td>
                <td>BriteLite Promotions LLC</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#editdocument">Edit</a>
                </td>
                <td>BriteLite Promotions LLC</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#editdocument">Edit</a>
                </td>
                <td>BriteLite Promotions LLC</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#editdocument">Edit</a>
                </td>
                <td>BriteLite Promotions LLC</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#editdocument">Edit</a>
                </td>
                <td>BriteLite Promotions LLC</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#editdocument">Edit</a>
                </td>
                <td>BriteLite Promotions LLC</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#editdocument">Edit</a>
                </td>
                <td>BriteLite Promotions LLC</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#editdocument">Edit</a>
                </td>
                <td>BriteLite Promotions LLC</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#editdocument">Edit</a>
                </td>
                <td>BriteLite Promotions LLC</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>BriteLite Promotions LLC</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>BriteLite Promotions LLC</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>BriteLite Promotions LLC</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>BriteLite Promotions LLC</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Corporate Incentives</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Corporate Incentives</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Corporate Incentives</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Corporate Incentives</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Corporate Incentives</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Corporate Incentives</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Corporate Incentives</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Corporate Incentives</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Corporate Incentives</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Corporate Incentives</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Corporate Incentives</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Corporate Incentives</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
            <tr>
                <td><a href="" class="anchor-design">Edit</a></td>
                <td>Creative Advertising Solutions Inc</td>
                <td>Alaska</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">Alaska Opinion Letter 2019</a>
                </td>
                <td>Both (Form/Letter)</td>
                <td>Both</td>
                <td></td>
                <td></td>
                <td></td>
                <td>D4689_AK - 070119 claimant opinion.doc</td>
            </tr>
        </tbody>
    </table>
</div>