@*@model WFJ.Models.ManageUserDataViewModel*@
<div class="table-responsive">
    <table id="manageMyUsers"
           class="display table dataTable table-striped layout-primary table-bordered document-center-table">
        <thead>
            <tr>
                <th></th>
                <th>Client</th>
                <th>Name</th>
                <th>Manager</th>
                <th>Level</th>
                <th>Access</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#newdocument">Edit</a>
                </td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1Add/Change Only</td>
                <td>1</td>
            </tr>
            @*@{
        if (Model.Users.Count > 0)
        {
            foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        <a href=""
                           class="anchor-design"
                           data-toggle="modal"
                           data-target="#edituser">Edit</a>
                    </td>
                    <td>@item.ClientID</td>
                    <td>@item.FirstName</td>
                    <td></td>
                    <td>@item.ManagerName</td>
                    <td>Add/Change Only</td>
                    <td>@item.Active</td>
                </tr>
            }
        }

        @*else
        {
            <tr><td colspan="3">No Record found</td></tr>
        }*@



        </tbody>
    </table>
</div>
