<div class="table-responsive">
    <table id="paymentreport"
           class="display table dataTable table-striped layout-primary table-bordered document-center-table">
        <thead>
            <tr>
                <th>Client</th>
                <th>Customer</th>
                <th>Acct #</th>
                <th>Status</th>
                <th>Assigned Attorney</th>
                <th>Collector</th>
                <th>Payment Date</th>
                <th>Check Number</th>
                <th>Amount</th>
                <th>Payment Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>

            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>

            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>

            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
            <tr>
                <td>ABF Printing</td>
                <td>BPS Plumbing</td>

                <td>11021350</td>
                <td>Paid/Closed</td>
                <td>Lauren T. Skildum</td>
                <td>Jeff Rogers</td>
                <td>2/5/2020</td>
                <td>9075</td>

                <td>2,000.00</td>
                <td>Check to WFJ</td>
            </tr>
        </tbody>
    </table>
</div>