<div class="modal fade" id="addpayments" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Payments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputDate">Payment Date</label>
                                <input type="text" class="form-control datepicker" id="inputDatee" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputDate">Remit/Bill Date</label>
                                <input type="text" class="form-control datepicker" id="inputDate" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Entered By</label>
                                <select id="inputState" class="form-control">
                                    <option selected="">Test Admin</option>
                                    <option>Analia Agazzi</option>
                                    <option>K.C. Tatje</option>
                                    <option>Mike Hime</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Payment Type </label>
                                <select id="inputState" class="form-control">
                                    <option selected="">Select</option>
                                    <option>Kelly Hilton</option>
                                    <option>Test Admin</option>
                                    <option>Mark Anderson</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="inputDate">Check Number</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="inputDate">Payment Amount</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select id="inputState" class="form-control">
                                            <option selected="">USD</option>
                                            <option>USD</option>
                                            <option>USD</option>
                                            <option>USD</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>