
<div>
    <div class="form-group">
        <button type="submit" class="btn btn-secondary">PDF</button>
    </div>
    <div class="card mb-4">
        <div class="card-content">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Requestor</label>
                            <select id="inputState" class="form-control">
                                <option selected="">Select</option>
                                <option>Andrew Nielsen</option>
                                <option>Ashley Yer</option>
                                <option>Barb Blomquist</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Assigned Attorney</label>
                            <select id="inputState" class="form-control">
                                <option selected="">Select</option>
                                <option>Unassigned</option>
                                <option>Jeffrey Nicolet</option>
                                <option>John Markham</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Assigned Collector</label>
                            <select id="inputState" class="form-control">
                                <option selected="">Select</option>
                                <option>Andrew Nielsen</option>
                                <option>Ashley Yer</option>
                                <option>Barb Blomquist</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Status</label>
                            <select id="inputState" class="form-control">
                                <option selected="">Select</option>
                                <option>Active</option>
                                <option>Local Counsel</option>
                                <option>In Suit</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputDate">Request Date</label>
                            <input type="text"
                                   class="form-control datepicker"
                                   id="inputDate" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputDate">WFJ File Close Date</label>
                            <input type="text"
                                   class="form-control datepicker"
                                   id="inputDate" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-content">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputDate">Customer Name</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputDate">Customer Contact</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="inputDate">Customer Address</label>

                            <div class="form-group">
                                <textarea class="form-control"
                                          id="exampleFormControlTextarea1"
                                          rows="1"
                                          placeholder="Address"></textarea>
                            </div>

                            <div class="form-group">
                                <textarea class="form-control"
                                          id="exampleFormControlTextarea1"
                                          rows="1"
                                          placeholder="Address 2"></textarea>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="City" />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="State" />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Zip Code" />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Country" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer E-Mail</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer Account #</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer Phone Domestic</label>
                                <div class="form-group">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer Phone International</label>
                                <div class="form-group">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer Fax Domestic</label>
                                <div class="form-group">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer Fax International</label>
                                <div class="form-group">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer Cell Phone</label>
                                <div class="form-group">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-content">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Balance Due</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Amount Due with Service Charge</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputDate">CollectMax Record Number</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputDate">WFJ File #</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputDate">Converted from Bond: WFJ File #</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputDate">Converted from Lien: WFJ File #</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Bill Type</label>
                            <select id="inputState" class="form-control">
                                <option selected="">Select</option>
                                <option>Contingent</option>
                                <option>Hourly</option>
                                <option>Flat Fee</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Practice Group</label>
                            <select id="inputState" class="form-control">
                                <option selected="">Select</option>
                                <option>Commercial Litigation</option>
                                <option>Criminal</option>
                                <option>Estate Planning</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputDate">Rate</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <button type="submit"
                class="btn btn-primary float-right ml-2 mb-2 document-search-btn">
            Submit
        </button>

        <button type="button"
                class="btn btn-secondary float-right document-search-btn ml-2 mb-2"
                data-dismiss="modal">
            Delete
        </button>

        <button type="button"
                class="btn btn-secondary float-right document-search-btn"
                data-dismiss="modal">
            Copy
        </button>
    </div>
</div>