
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <button type="submit"
                                    class="btn btn-primary w-100"
                                    data-toggle="modal"
                                    data-target="#updateAssociateInfoModal">
                                Update Associate Info
                            </button>

                            <button type="submit"
                                    class="btn btn-primary w-100 mt-3"
                                    data-toggle="modal"
                                    data-target="#manageInvoiceModal">
                                Manage Invoices
                            </button>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <ul class="update-associate mt-0">
                            <li>Total Invoices:<span>$0.00</span></li>
                            <li>
                                Total Amount Paid:<span>$0.00</span>
                            </li>
                            <li>Balance Due:<span>$0.00</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label> Associate Counsel Name </label>
                    <input type="text"
                           class="form-control"
                           placeholder="Intl Code" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label> Associate Counsel File # </label>
                    <input type="text"
                           class="form-control"
                           placeholder="Intl Code" />
                </div>
            </div>
        </div>
    </div>
</div>