<div class="card">
    <div class="card-body">
        <div class="text-right">
            <button type="submit" class="btn btn-secondary mb-3" data-toggle="modal" data-target="#addnotes">
                Add Notes
            </button>
            <button type="submit" class="btn btn-secondary mb-3">
                Send Notes
            </button>
            <button type="submit" class="btn btn-secondary mb-3">
                Hide Notes
            </button>
            <button type="submit" class="btn btn-secondary mb-3">
                Flag Notes
            </button>
        </div>

        <div class="list-of bg-light p-3 mb-3">
            <h4 class="mb-4">List of all Request Notes</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Balance Due:</label>
                        <p class="for-bold">$11,280.82</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Total Customer Payments/Credits:</label>
                        <p class="for-bold">$11,280.82</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Remaining Amount Due:</label>
                        <p class="for-bold">$11,280.82</p>
                    </div>
                </div>
            </div>

            <ul class="attached-file">
                <li>
                    Click on a Note Date to view the details of the
                    Note, make changes to the Note or delete the
                    Note.
                </li>
                <li>
                    Send the Notes checked in the list below to the
                    Recipient entered in the space below. You may
                    also send the checked note(s) to the Requestor
                    or other recipient by checking the box(es)
                    below. Press the 'Send Notes' button to send the
                    Notice.
                </li>
            </ul>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputDate">Send to</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="d-block">Rhonda Whitmore</label>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox"
                                   class="custom-control-input"
                                   checked="checked"
                                   id="customCheck12" />
                            <label class="custom-control-label"
                                   for="customCheck12"></label>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="d-block">Jeff Rogers</label>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox"
                                   class="custom-control-input"
                                   checked="checked"
                                   id="customCheck21" />
                            <label class="custom-control-label"
                                   for="customCheck21"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id=""
                   class="table table-striped layout-primary table-bordered document-center-table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Note Date</th>
                        <th>Follow Up Date</th>
                        <th>Author</th>
                        <th>Contact Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="anchor-design">Edit</a>
                        </td>

                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="customCheck6" />
                                <label class="custom-control-label"
                                       for="customCheck6"></label>
                            </div>
                        </td>
                        <td>8/31/2020</td>
                        <td>9/9/2020 7:00:00 AM</td>
                        <td>Test Admin</td>
                        <td>
                            No answer received. Preparing default
                            judgment.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>