<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <ul class="update-associate">
                    <li>Balance Due:<span>$11,280.82</span></li>
                    <li>
                        Total Customer Payments/Credits:<span>$0.00</span>
                    </li>
                    <li>
                        Remaining Amount Due:<span>$11,280.82</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>