<div class="table-responsive">
    <table id="companytable"
           class="display table dataTable table-striped layout-primary table-bordered document-center-table view-table">
        <thead>
            <tr>
                <th>
                    <i class="fa fa-plus"
                       aria-hidden="true"
                       data-toggle="modal"
                       data-target="#viewrequest"></i>
                    Customer Name
                    <i class="fa fa-times" aria-hidden="true"></i>
                </th>
                <th>
                    Requestor
                    <i class="fa fa-times" aria-hidden="true"></i>
                </th>
                <th>
                    Request Date
                    <i class="fa fa-times" aria-hidden="true"></i>
                </th>
                <th>
                    Assigned To
                    <i class="fa fa-times" aria-hidden="true"></i>
                </th>
                <th>
                    Collector
                    <i class="fa fa-times" aria-hidden="true"></i>
                </th>
                <th>
                    Status
                    <i class="fa fa-times" aria-hidden="true"></i>
                </th>
                <th>
                    Converted from Lien: WFJ File #
                    <i class="fa fa-times" aria-hidden="true"></i>
                </th>
                <th>
                    Customer Account #
                    <i class="fa fa-times" aria-hidden="true"></i>
                </th>
                <th>
                    WFJ File #
                    <i class="fa fa-times" aria-hidden="true"></i>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="/Home/ViewRequestPayment" class="anchor-design">Backwoods HVAC & Refrig, LLC</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/Home/ViewRequestPayment"
                       class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/Home/ViewRequestPayment"
                       class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/Home/ViewRequestPayment"
                       class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/Home/ViewRequestPayment"
                       class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/Home/ViewRequestPayment"
                       class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/Home/ViewRequestPayment"
                       class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/Home/ViewRequestPayment"
                       class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/Home/ViewRequestPayment"
                       class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="" class="anchor-design">MBI Companies</a>
                </td>
                <td>M. Gustafson</td>
                <td>11/26/2019</td>
                <td>L. Skildum</td>
                <td>Active</td>
                <td></td>
                <td></td>
                <td>11029191</td>
                <td>48150</td>
                <td>
                    <button type="submit"
                            class="btn btn-primary mb-2 view-btn">
                        <i class="far fa-edit"></i>
                    </button>

                    <button type="submit"
                            class="btn btn-primary view-btn">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>