<div class="table-responsive">
    <table id="myDataTable" class="display table dataTable table-striped layout-primary table-bordered document-center-table request-services-table">
        <thead>
            <tr>
                <th>Client</th>
                <th>Placement Type</th>
                <th></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
                <td>Exceptional Advertising Specialties Inc</td>
                <td>Account Collection</td>
                <td>
                    <a href="/Home/ViewRequest" class="btn btn-sm btn-primary" title="View Placements">12</a>
                </td>
                <td>
                    <a href="" target="_blank" class="btn btn-sm btn-success" title="Add Placement"><i class="fa fa-plus"></i></a>
                </td>
            </tr>*@

        </tbody>
    </table>
</div>